*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}


body
{
    font-size: 1.6rem;
    font-family: 'Kiwi Maru', serif;
    /* background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)), url('./IMAGES/pexels-digital-buggu-171198.jpg'); */
}

.start
{
    background-color: rgba(0, 0, 0, 0.842);
    width: 100%;
    height: 1rem; 
}

.navbar
{
    position: fixed;
    top: 0;
    left: 0;
display: grid;
width: 100%;
grid-template-columns: max-content 1fr;
align-items: center;
background-color: rgba(0, 0, 0, 0.842);
padding: 2.5rem 6rem;
box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.555);
align-items: center;
height: 12rem;
}


.name
{
    position: absolute;
    top: 0;
    right: 3rem;
    
}

.name > img
{
    border-radius: 50%;
    margin-top: 2.5rem;
    
}
.selectives
{
 justify-self: right;
 
 
}

.list
{
    list-style: none;
    display:grid;
    grid-auto-flow: column;
    color: white;
    padding-top: 2rem;

}

.list > li{
    text-transform: uppercase;
    margin: 0rem 0rem 2rem 3rem;
    font-size: 1.6rem;
    padding: 1rem 0rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    border-bottom: 2px solid white;
    cursor: pointer;

}



 .navbar a:link,
 .navbar a:hover,
 .navbar a:visited
{
    text-decoration: none;
    color: white;
 
    
}

li:hover
{
    border-bottom: 4px solid white;
    border-radius: 5px;
}

.navbar a:active
{
    color: orangered;
}

.list::after
{
    color: orangered;
}
/* ONGOING EVENTS */
.ongoing
{
    margin: 16rem 3em;
    height: 90vh;
    font-size: 3rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
    
}
.heado
{
    text-align: center;
    background-color:rgb(238, 70, 9);
    box-shadow: 0 2rem 3rem rgb(238, 70, 9);
}

.bodyo
{
    text-align: center;
    margin-top: 25vh;
}

/* UPCOMING EVENTS */
.upcoming
{
    margin: 6rem 3em;
    height: 100vh;
    font-size: 3rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
    
}
.headu
{
    
    text-align: center;
    background-color: rgb(247, 142, 4);
    box-shadow: 0 2rem 3rem rgb(247, 142, 4);
    margin-bottom: 10rem;
}

h2
{
    padding-top: 4px;
    
}

.bodyu
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
    grid-gap: 2rem;
    font-size: 2rem;
    
}


.item > img
{
    
    padding-top: 5rem;
    padding-bottom: 1rem;
    transition: width 1s, height 2s;
    
}

.item > img:hover
{
    width: 350px;
    height: 350px;
}



.item
{
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
}

h3
{
    padding-bottom: 2rem;
}

.item  a:link,
.item  a:hover,
.item  a:visited,
.item  a:active
{
    text-decoration: none;
    color: black;
}


/* ALL EVENTS */
.all
{
    margin: 6rem 3em 1rem 8rem;
    height: 100%;
    font-size: 3rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
    width: 1180px;

}
.heada
{
    
    text-align: center;
    background-color:rgba(255, 208, 0, 0.548);
    box-shadow: 0 2rem 3rem rgba(255, 208, 0, 0.548);
}

.bodya
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    padding-bottom: 3rem;
    
}

.item1
{
    font-size: 2rem;
}

.item1 > img
{
    margin-top: 2rem;
    width: 100px;
    height: 200px;
    object-fit:contain;
    transition: width 0.5s, height 1s;
    
}

.item1 > img:hover
{
    width: 300px;
    height: 300px;
}

h4 
{
    bottom: 5%;
    right: 2%;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2.5rem;
    text-align: center;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 2rem  black inset;
    color: white;
}

.item1  a:link,
.item1  a:hover,
.item1  a:visited,
.item1  a:active
{
    text-decoration: none;
    color: black;
}

.sec 
{
    height: 200px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
}

a:link,
a:hover,
a:visited,
a:active
{
    text-decoration: none;
}
